h1{
    color: red;
    text-decoration:black underline;
}
.photo{
    position: absolute;
    left: 80%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url("profile\ picture2.jpg");
    background-size: cover;
    border: 2px solid black;
}
body{
    /* background-image: url("resume.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
}
.zoom{
    width: 100px;
    transition:all ease-in;
}
.zoom:hover{
    color: red;
    font-size: 20px;
}
@media(max-width:600px)
{.photo{left: 49%;}
} 
table{
    background-color: black;
}
tr{
    background-color: gray;
}
td{
    background-color: lightgray;
    text-align: center;
}
/* img{
    mix-blend-mode: color-burn;
    border-radius: 50%;
    transition: all 0.5 ease;
} */
.social{
    display: flex;
}
.social a{
    color:white;
    font-size: 2em;
}
.icon{
 background-color: white;
 border-radius: 50%;
 margin-left: 10px;
 padding: 8px 9px 5px 9px;
 border: 2px solid transparent;
 box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
}
.facebook{
    background-color: #316FF6;
    border: 2px solid white;
}
.instagram{
    background-color:rgb(218, 29, 92);
    border: 2px solid white;
}
.github{
    background-color: rgb(6, 6, 14);
    border: 2px solid white;
}
.linkedin{
    background-color: #0077b5;
    border: 2px solid white;
}

.social a:hover{
    color: black;
}
.icon:hover{
    opacity: 2;
    transform: translate(0,-10%);
    transform: rotate(360deg);
    background-color: white;
    color: black;
}
.mode{
    position: absolute;
    left: 90%;
    font-size: 1.5rem;
    border-radius: 50%;
    border: 2px black solid;
    padding: 4px 9px 2px 8px;
}
.bottom-icon{
    display: flex;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
.underline{
    text-decoration: white underline;
}
.photos{
    border: 2px solid white;
}
.mode-icon{
    border: 2px white solid;
}
.tab-border{
    background-color: white;
}